<?xml version="1.0" encoding="UTF-8"?>
    <phpunit bootstrap="vendor/autoload.php" convertNoticesToExceptions="false" processIsolation="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd">
        <testsuites>
            <testsuite name="BC::math PHPUnit Tests">
                <directory>tests/</directory>
            </testsuite>
        </testsuites>
        <filter>
            <whitelist>
                <directory suffix=".php">src/</directory>
            </whitelist>
        </filter>
        <logging>
            <log highLowerBound="70" lowUpperBound="35" target="coverage/phpunit" type="coverage-html" />
            <log target="coverage/phpunit.xml" type="coverage-clover" />
        </logging>
    </phpunit>
